[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ThresholdROC"]
	path = ThresholdROC
	url = https://github.com/cran/ThresholdROC
[submodule "ThresholdROCsurvival"]
	path = ThresholdROCsurvival
	url = https://github.com/cran/ThresholdROCsurvival
